.dl-horizontal {
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-columns: 25%;
    grid-auto-flow: column;
}

.word-break {
    overflow-wrap: break-word;
}

.post-border {
    padding: 14px 18px 14px 18px;
    background: #f8f8f8;
    border: 2px solid #414141;
    box-shadow: 0 2px 2px -1px gray;
    border-collapse: separate;
    border-spacing: 15px;
}